# Niffler URLs for Docker deployment
FRONT_URL=http://frontend.niffler.dc/
GATEWAY_URL=http://gateway.niffler.dc/
AUTH_URL=http://auth.niffler.dc:9000/

# Browser settings
BROWSER=chrome
HEADLESS=false
KEEP_BROWSER_OPEN=true
