/*global styles, should be imported first*/
@import url("./components/global.css");
/* big blocks styles*/
@import url("./components/header.css");
@import url("./components/footer.css");
@import url("./components/main-page.css");
/*other components styles*/
@import url("./components/absract-table.css");
@import url("./components/avatar.css");
@import url("./components/button.css");
@import url("./components/categories.css");
@import url("./components/editable-value.css");
@import url("./components/form.css");
@import url("./components/form-input.css");
@import url("./components/loader.css");
@import url("./components/people.css");
@import url("./components/profile.css");
@import url("./components/popup.css");
@import url("./components/react-calendar.css");
@import url("./components/select.css");
@import url("./components/spendings.css");
@import url("./components/table.css");
@import url("./components/tooltip.css");
@import url("./components/spendings-table.css");


.main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.main-content {
    width: 100%;
    margin: 160px 40px 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 35px;
    grid-template-areas:
    "add stats stats"
    "history history history";
}


.value-container {
    margin: 0 auto;
    width: 100%;
}


.main-content__section {
    text-align: center;
    width: 100%;
    box-shadow: 0 0 20px 20px black;
    background-color: peru;
    background-image: url("./../images/old-paper-background-texture-37.jpg");
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}


.main-content__section-avatar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px 50px;
    width: 100%;
    box-sizing: border-box;
}

.main-content__section-add-spending {
    max-height: 480px;
    width: 450px;
    grid-area: add;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-content__section-stats {
    max-height: 480px;
    grid-area: stats;
}

.main-content__section-history {
    grid-area: history;
    position: relative;
}

.spendings__content {
    margin: 20px;
}
.spendings__buttons{
    display: flex;
    width: 100%;
}

.spendings__buttons button {
    margin-right: 20px;
}

.add-spending__form {
    width: 350px;
}

.cite {
    margin: 0;
    padding: 0;
    font-style: italic;
}
