services:
  niffler-all-db:
    container_name: niffler-all-db
    image: postgres:15.1
    environment:
      - CREATE_DATABASES=niffler-auth,niffler-currency,niffler-spend,niffler-userdata
      - PGUSER=postgres
      - POSTGRES_PASSWORD=secret
      - TZ=GMT+3
      - PGTZ=GMT+3
    volumes:
      - ./postgres/script:/docker-entrypoint-initdb.d
      - ./postgres/conf/postgresql.conf:/etc/postgresql.conf
    healthcheck:
      test: [ "CMD", "pg_isready", "-U", "postgres", "-d", "postgres" ]
      interval: 3s
      timeout: 3s
      retries: 5
    ports:
      - 5432:5432
    networks:
      - niffler-network

  zookeeper:
    container_name: zookeeper
    image: confluentinc/cp-zookeeper:7.3.2
    ports:
      - 2181:2181
    environment:
      - ZOOKEEPER_CLIENT_PORT=2181
    networks:
      - niffler-network

  kafka:
    container_name: kafka
    image: confluentinc/cp-kafka:7.3.2
    ports:
      - 9092:9092
    depends_on:
      zookeeper:
        condition: service_started
    environment:
      - KAFKA_BROKER_ID=1
      - KAFKA_ZOOKEEPER_CONNECT=zookeeper:2181
      - KAFKA_ADVERTISED_LISTENERS=PLAINTEXT://kafka:9092
      - KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR=1
      - KAFKA_TRANSACTION_STATE_LOG_MIN_ISR=1
      - KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR=1
    networks:
      - niffler-network

  auth.niffler.dc:
    container_name: auth.niffler.dc
    image: ${PREFIX}/niffler-auth-docker:latest
    ports:
      - 9000:9000
    healthcheck:
      test: "wget --spider http://localhost:9000/actuator/health || exit 1"
      interval: 5s
      timeout: 5s
      retries: 5
    restart: always
    depends_on:
      niffler-all-db:
        condition: service_healthy
      kafka:
        condition: service_started
    networks:
      - niffler-network

  currency.niffler.dc:
    container_name: currency.niffler.dc
    image: ${PREFIX}/niffler-currency-docker:latest
    ports:
      - 8091:8091
      - 8092:8092
    restart: always
    depends_on:
      niffler-all-db:
        condition: service_healthy
    networks:
      - niffler-network

  gateway.niffler.dc:
    container_name: gateway.niffler.dc
    image: ${PREFIX}/niffler-gateway-docker:latest
    ports:
      - 8090:8090
    healthcheck:
      test: "wget --spider http://localhost:8090/actuator/health || exit 1"
      interval: 5s
      timeout: 5s
      retries: 5
    restart: always
    depends_on:
      auth.niffler.dc:
        condition: service_healthy
    networks:
      - niffler-network

  spend.niffler.dc:
    container_name: spend.niffler.dc
    image: ${PREFIX}/niffler-spend-docker:latest
    ports:
      - 8093:8093
    restart: always
    depends_on:
      niffler-all-db:
        condition: service_healthy
    networks:
      - niffler-network

  userdata.niffler.dc:
    container_name: userdata.niffler.dc
    image: ${PREFIX}/niffler-userdata-docker:latest
    ports:
      - 8089:8089
    restart: always
    depends_on:
      auth.niffler.dc:
        condition: service_healthy
    networks:
      - niffler-network

  frontend.niffler.dc:
    container_name: frontend.niffler.dc
    image: ${PREFIX}/${FRONT}-docker:latest
    build:
      context: ./${FRONT}
      dockerfile: ./Dockerfile
      args:
        NPM_COMMAND: build:docker
        VERSION: ${FRONT_VERSION}
    ports:
      - 80:80
    depends_on:
      gateway.niffler.dc:
        condition: service_started
    networks:
      - niffler-network

  selenoid:
    profiles:
      - test
    container_name: selenoid
    image: aerokube/selenoid:1.11.3
    platform: linux/${ARCH}
    volumes:
      - ./selenoid:/etc/selenoid
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - TZ=Europe/Moscow
    restart: unless-stopped
    command: [ "-conf", "/etc/selenoid/browsers.json", "-limit", "3", "-video-output-dir", "/opt/selenoid/video", "-log-output-dir", "/opt/selenoid/logs", "-container-network", "niffler_niffler-network" ]
    ports:
      - 4444:4444
    networks:
      - niffler-network

  selenoid-ui:
    profiles:
      - test
    container_name: selenoid-ui
    image: aerokube/selenoid-ui:1.10.11
    depends_on:
      - selenoid
    restart: unless-stopped
    ports:
      - 9091:8080
    command: [ "--selenoid-uri", "http://selenoid:4444" ]
    networks:
      - niffler-network

  niffler-e-2-e:
    profiles: [ test ]
    container_name: niffler-e-2-e
    image: ${PREFIX}/niffler-e-2-e-tests:latest
    build:
      context: ./
      dockerfile: ./niffler-e-2-e-tests/Dockerfile
    environment:
      - ALLURE_DOCKER_API=${ALLURE_DOCKER_API}
      - GITHUB_TOKEN=${GITHUB_TOKEN}
      - BUILD_URL=${BUILD_URL}
      - HEAD_COMMIT_MESSAGE=${HEAD_COMMIT_MESSAGE}
      - EXECUTION_TYPE=${EXECUTION_TYPE}
    depends_on:
      frontend.niffler.dc:
        condition: service_started
    networks:
      - niffler-network

  allure:
    profiles: [ test ]
    container_name: allure
    image: frankescobar/allure-docker-service:2.27.0
    depends_on:
      - niffler-e-2-e
    environment:
      - CHECK_RESULTS_EVERY_SECONDS=NONE
      - KEEP_HISTORY=1
    ports:
      - 5050:5050
    networks:
      - niffler-network

  allure-ui:
    profiles: [ test ]
    container_name: allure-ui
    image: frankescobar/allure-docker-service-ui:7.0.3
    depends_on:
      - allure
    environment:
      - ALLURE_DOCKER_PUBLIC_API_URL=http://localhost:5050
    ports:
      - 5252:5252
    networks:
      - niffler-network

networks:
  niffler-network:
    driver: bridge
