.loader {
    border: 5px solid #f3f3f3;
    position:absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    border-top: 5px solid purple;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
