.button {
    font-family: "PTRootUIWeb", var(--font-fallback);
    display: block;
    box-sizing: border-box;
    max-width: 350px;
    width: 100%;
    padding: 15px 30px;
    margin-bottom: 15px;
    margin-top: 15px;
    border-radius: 8px;
    border: 2px solid black;
    background-color: #eeedea;
    color: black;
    font-weight: 700;
    font-size: 15px;
}

.button_type_selected {
    background-color: #cbae97;
}

.button_type_small {
    width: fit-content;
    padding: 10px 15px;
}

.button:hover {
    cursor: pointer;
    opacity: 0.7;
}

.button:disabled,
.button:disabled:hover{
    cursor: not-allowed;
    opacity: 0.3;
}

.button-icon {
    width: 30px;
    height: 30px;
    border: none;
    background-size: contain;
    background-color: transparent;
    position: relative;
}

.button-icon__text {
    position: absolute;
    left: 20px;
    top: 10px;
}

.button-icon:hover {
    cursor: pointer;
}

.button-icon_type_close {
    background-image: url("./../../images/close.svg");
}

.button-icon_type_edit {
    background-image: url("./../../images/edit.svg");
}

.button-icon_type_submit {
    background-image: url("./../../images/submit.svg");

}

.button-icon_type_logout {
    background-image: url("./../../images/logout.svg");
    margin-top: 7px;
}

.button-icon_type_add {
    background-image: url("./../../images/add-friend.svg");
}

.button-icon_type_message {
    background-image: url("./../../images/message.svg");
    width: 45px;
    height: 45px;
    margin-right: 10px;
}

.button-icon_type_message-new {
    background-image: url("./../../images/message-new.svg");
    width: 45px;
    height: 45px;
    margin-right: 10px;
}
