.form__input {
    font-family: "PTRootUIWeb", var(--font-fallback);;
    width: 100%;
    display: block;
    margin: 5px 0;
    box-sizing: border-box;
    font-size: 14px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 8px;
    font-weight: normal;
    background-color: #eeedea;
    color: black;
}

.form__input::placeholder {
    text-align: center;
    font-weight: 700;
}

.form__input-error {
    border: 2px solid var(--color-error);
}
