server:
  port: 9000
  # ONLY FOR TESTING
  servlet:
    session:
      cookie:
        http-only: false
        secure: false

spring:
  application:
    name: niffler-auth
  mvc:
    log-request-details: true
  datasource:
    hikari:
      connection-timeout: 20000
      minimum-idle: 10
      maximum-pool-size: 30
      idle-timeout: 10000
      max-lifetime: 1000
      auto-commit: true
  flyway:
    enabled: true
    baseline-on-migrate: true
    baseline-version: 0
    schemas: public
    locations: classpath:db/migration/niffler-auth
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        jdbc:
          lob:
            non_contextual_creation: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    show-sql: false
    generate-ddl: true
    open-in-view: false

logging:
  level:
    root: INFO
    org.springframework.kafka: INFO
    org.springframework.web: INFO
    org.springframework.security: INFO
    org.springframework.security.oauth2: INFO
    org.springframework.web.cors: INFO
    org.apache.catalina.filters.RequestDumperFilter: DEBUG
#    org.springframework.boot.autoconfigure: DEBUG

---
spring:
  config:
    activate:
      on-profile: 'local'
  autoconfigure:
    exclude:
      - 'org.springframework.cloud.vault.config.VaultAutoConfiguration'
      - 'org.springframework.cloud.vault.config.VaultObservationAutoConfiguration'
      - 'org.springframework.cloud.vault.config.VaultReactiveAutoConfiguration'
  kafka:
    bootstrap-servers: 'localhost:9092'
  datasource:
    url: 'jdbc:postgresql://localhost:5432/niffler-auth'
    username: postgres
    password: secret
niffler-front:
  base-uri: 'http://127.0.0.1:3000'
niffler-auth:
  base-uri: 'http://127.0.0.1:9000'
oauth2:
  client-id: 'client'
  client-secret: '{noop}secret'
---
spring:
  config:
    activate:
      on-profile: 'docker'
  autoconfigure:
    exclude:
      - 'org.springframework.cloud.vault.config.VaultAutoConfiguration'
      - 'org.springframework.cloud.vault.config.VaultObservationAutoConfiguration'
      - 'org.springframework.cloud.vault.config.VaultReactiveAutoConfiguration'
  kafka:
    bootstrap-servers: 'kafka:9092'
  datasource:
    url: 'jdbc:postgresql://niffler-all-db:5432/niffler-auth'
    username: postgres
    password: secret
niffler-front:
  base-uri: 'http://frontend.niffler.dc'
niffler-auth:
  base-uri: 'http://auth.niffler.dc:9000'
oauth2:
  client-id: 'client'
  client-secret: '{noop}secret'
---
spring:
  config:
    activate:
      on-profile: 'prod'
    import: vault://
  cloud:
    vault:
      authentication: TOKEN
      host: vault.qa.guru
      uri: https://vault.qa.guru
      token: ${VAULT_TOKEN}
      kv:
        enabled: true
  kafka:
    bootstrap-servers: ${kafka.url}
  datasource:
    url: ${db.url}
    username: ${db.username}
    password: ${db.password}
niffler-front:
  base-uri: 'https://niffler.qa.guru'
niffler-auth:
  base-uri: 'https://auth.niffler.qa.guru'
oauth2:
  client-id: ${client-id}
  client-secret: ${client-secret}
---
spring:
  config:
    activate:
      on-profile: 'staging'
    import: vault://
  cloud:
    vault:
      authentication: TOKEN
      host: vault.qa.guru
      uri: https://vault.qa.guru
      token: ${VAULT_TOKEN}
      kv:
        enabled: true
  kafka:
    bootstrap-servers: ${kafka.url}
  datasource:
    url: ${db.url}
    username: ${db.username}
    password: ${db.password}
niffler-front:
  base-uri: 'https://niffler-stage.qa.guru'
niffler-auth:
  base-uri: 'https://auth.niffler-stage.qa.guru'
oauth2:
  client-id: ${client-id}
  client-secret: ${client-secret}
---