server:
  port: 9000
  error:
    whitelabel:
      enabled: false
    path: /error
  servlet:
    session:
      timeout: 60m
      cookie:
        name: JSESSIONID
        max-age: 3600
      tracking-modes: cookie

spring:
  application:
    name: niffler-auth
  mvc:
    log-request-details: true
  datasource:
    hikari:
      connection-timeout: 20000
      minimum-idle: 10
      maximum-pool-size: 30
      idle-timeout: 10000
      max-lifetime: 1000
      auto-commit: true
  flyway:
    enabled: true
    baseline-on-migrate: true
    baseline-version: 0
    schemas: public
    locations: classpath:db/migration/niffler-auth
  session:
    timeout: 60m
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        jdbc:
          lob:
            non_contextual_creation: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    show-sql: false
    generate-ddl: true
    open-in-view: false
  web:
    resources:
      cache:
        cachecontrol:
          max-age: 365d
  cloud:
    compatibility-verifier:
      enabled: false
logging:
  level:
    root: INFO
    org.springframework.kafka: INFO
    org.springframework.web: INFO
    org.springframework.web.cors: INFO
    org.springframework.security.web.csrf: INFO
    org.springframework.security.web.authentication.logout: INFO
    org.springframework.security: INFO
    org.springframework.web.servlet.handler: INFO
    org.springframework.web.servlet.DispatcherServlet: INFO
    org.springframework.security.oauth2: INFO
    org.springframework.security.oauth2.server.authorization: INFO
    org.apache.catalina.filters.RequestDumperFilter: INFO
    org.springframework.boot.autoconfigure: INFO
    org.apache.coyote.http11.Http11Processor: INFO

---
spring:
  config:
    activate:
      on-profile: 'local'
  autoconfigure:
    exclude:
      - 'org.springframework.cloud.vault.config.VaultAutoConfiguration'
      - 'org.springframework.cloud.vault.config.VaultObservationAutoConfiguration'
      - 'org.springframework.cloud.vault.config.VaultReactiveAutoConfiguration'
  kafka:
    bootstrap-servers: 'localhost:9092'
  datasource:
    url: 'jdbc:postgresql://localhost:5432/niffler-auth'
    username: postgres
    password: secret
niffler-front:
  base-uri: 'http://localhost:3000'
niffler-auth:
  base-uri: 'http://localhost:9000'
  rp-id: 'localhost'
oauth2:
  web-client-id: 'client'
  mobile-client-id: 'mobile-client'
  mobile-custom-scheme: 'app://'
  android-app-uri: 'ru.niffler_android'
---
spring:
  config:
    activate:
      on-profile: 'docker'
  autoconfigure:
    exclude:
      - 'org.springframework.cloud.vault.config.VaultAutoConfiguration'
      - 'org.springframework.cloud.vault.config.VaultObservationAutoConfiguration'
      - 'org.springframework.cloud.vault.config.VaultReactiveAutoConfiguration'
  kafka:
    bootstrap-servers: 'kafka:9092'
  datasource:
    url: 'jdbc:postgresql://niffler-all-db:5432/niffler-auth'
    username: postgres
    password: secret
niffler-front:
  base-uri: 'http://frontend.niffler.dc'
niffler-auth:
  base-uri: 'http://auth.niffler.dc:9000'
  rp-id: 'http host not supported'
oauth2:
  web-client-id: 'client'
  mobile-client-id: 'mobile-client'
  mobile-custom-scheme: 'app://'
  android-app-uri: 'ru.niffler_android'
---
spring:
  config:
    activate:
      on-profile: 'prod'
    import: vault://
  cloud:
    vault:
      authentication: TOKEN
      host: vault.qa.guru
      uri: https://vault.qa.guru
      token: ${VAULT_TOKEN}
      kv:
        enabled: true
  kafka:
    bootstrap-servers: ${kafka.url}
  datasource:
    url: ${db.url}
    username: ${db.username}
    password: ${db.password}
niffler-front:
  base-uri: 'https://niffler.qa.guru'
niffler-auth:
  base-uri: 'https://auth.niffler.qa.guru'
  rp-id: 'niffler.qa.guru'
oauth2:
  web-client-id: ${web-client-id}
  mobile-client-id: ${mobile-client-id}
  mobile-custom-scheme: ${mobile-custom-scheme}
  android-app-uri: ${android-app-uri}
---
spring:
  config:
    activate:
      on-profile: 'staging'
    import: vault://
  cloud:
    vault:
      authentication: TOKEN
      host: vault.qa.guru
      uri: https://vault.qa.guru
      token: ${VAULT_TOKEN}
      kv:
        enabled: true
  kafka:
    bootstrap-servers: ${kafka.url}
  datasource:
    url: ${db.url}
    username: ${db.username}
    password: ${db.password}
niffler-front:
  base-uri: 'https://niffler-stage.qa.guru'
niffler-auth:
  base-uri: 'https://auth.niffler-stage.qa.guru'
  rp-id: 'niffler-stage.qa.guru'
oauth2:
  web-client-id: ${web-client-id}
  mobile-client-id: ${mobile-client-id}
  mobile-custom-scheme: ${mobile-custom-scheme}
  android-app-uri: ${android-app-uri}
---
