*, ::before, ::after {
    box-sizing: border-box;
}

@font-face {
    font-family: "YoungSerif";
    src: url("../fonts/YoungSerif-Regular.woff2") format("woff2"),
    url("../fonts/YoungSerif-Regular.woff") format("woff"),
    url("../fonts/YoungSerif-Regular.ttf") format("ttf");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

body {
    --color-primary: #2941CC;
    --color-secondary: #768c7d;
    --color-success: #35AD7B;
    --color-error: #F75943;
    --color-link: #53875a;
    --color-heading: #6b706e;
    --color-ligth: #FFFFFF;
    --color-grey: #E4E6F1;
    --color-grey-placeholder: #A8ACC0;
    --color-grey-input-background: #FAFAFD;
    --color-text-primary: #242527;

    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    color: var(--color-text-primary);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.content {
    max-width: 1280px;
    height: 100vh;
    margin: 0 auto;
}

.content__wrapper {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-sizing: border-box;
    overflow: scroll;
}

.header {
    margin: 8px 0;
    align-self: flex-start;
    font-family: "YoungSerif", "serif";
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    text-align: center;
}

.header__additional {
    margin-bottom: 16px;
    align-self: flex-start;
    text-align: center;

}

.logo-section {
    display: flex;
    font-size: 24px;
    font-weight: 700;
    margin-left: 18px;
}

.logo-section__text {
    font-family: "YoungSerif", "serif";
}

.logo-section__logo {
    margin: 8px;
}

.main__hero {
    background-image: url("./../images/forest.svg");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.form-section {
    width: auto;
    height: calc(100% - 76px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form {
    text-align: center;
    border-radius: 8px;
    margin: 0 auto;
    width: 320px;
    max-width: 460px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

.form__label {
    position: relative;
    max-width: 320px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 14px;
    font-weight: 400;
}

.form__input {
    width: 100%;
    display: block;
    font-family: inherit;
    box-sizing: border-box;
    font-size: 14px;
    margin-top: 8px;
    margin-bottom: 12px;
    padding: 13px 16px;
    border: 1px solid var(--color-grey);
    background-color: var(--color-grey-input-background);
    border-radius: 8px;
    font-weight: normal;
    text-transform: none;
}

.form__input:focus {
    outline: var(--color-primary) solid 2px;
    outline-offset: -1px;
}

.form__password-button {
    position: absolute;
    background-size: contain;
    background-color: transparent;
    background-image: url("../images/eye.svg");
    right: 10px;
    top: 36px;
    border: none;
    width: 20px;
    height: 20px;
    z-index: 5;
    cursor: pointer;
}

.form__password-button_active {
    background-image: url("../images/eye-active.svg");
}

.form__submit,
.form_sign-in,
.form__register {
    font-family: inherit;
    font-weight: 600;
    font-size: 16px;
    text-decoration: none;
    display: block;
    padding: 13px 16px;
    margin: 18px 0;
    border-radius: 6px;
    border: none;
    color: var(--color-ligth);
    background-color: var(--color-primary);
    width: 100%;
    line-height: 1.75;
    cursor: pointer;
}

.form__register {
    background-color: var(--color-success);
    display: block;
}

.form__submit:hover,
.form_sign-in:hover {
    opacity: 0.8;
}

.form__link {
    color: var(--color-primary);
    text-decoration: underline;
}

.form__link:active,
.form__link:visited {
    color: var(--color-link);
}

.form__error-container {
    width: 100%;
    border: 1px solid var(--color-error);
    border-radius: 8px;
    padding: 4px;
    margin: 8px;
}

.form__error {
    color: var(--color-error);
    text-align: center;
    font-size: 14px;
    margin-bottom: 10px;
    font-weight: 700;
    word-break: break-word;
}

.form__paragraph_success {
    margin-top: 120px;
}

.divider {
    width: 100%;
    display: block;
    border: 1px solid var(--color-grey);
}

@media screen and (max-width: 900px) {
    .content {
        display: flex;
    }

    .content__wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        overflow: auto;
    }

    .main__hero {
        display: none;
    }

    .logo-section {
        justify-content: center;
        margin: 0;
    }

    .header {
        align-self: center;
    }

    .header__additional {
        align-self: center;
    }

    .form__paragraph_success {
        margin-top: 20px;
    }
}


