@font-face {
    font-family: "Young Serif";
    src: url("./assets/fonts/YoungSerif-Regular.woff2") format("woff2"),
    url("./assets/fonts/YoungSerif-Regular.woff") format("woff"),
    url("./assets/fonts/YoungSerif-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url("./assets/fonts/Inter-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

* {
    font-family: Inter, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Young Serif", serif;
}

body {
    height: 100vh;
    font-family: Inter, sans-serif;
}

#root {
    height: 100%;
}
