<!DOCTYPE HTML>
<html lang="ru" xmlns:th="https://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Login to Niffler</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" th:href="@{images/favicon.ico}"/>
    <link href="../static/styles/styles.css" th:href="@{styles/styles.css}" rel="stylesheet"
          type="text/css"/>
</head>
<body>
<main class="content">
    <div class="content__wrapper">
        <div class="main__hero"></div>
        <section class="main__form">
            <div class="logo-section">
                <img class="logo-section__logo" src="./../static/images/coin.svg" width="36" th:src="@{images/coin.svg}"
                     alt="Niffler logo"/>
                <p class="logo-section__text">
                    Niffler
                </p>
            </div>
            <div class="form-section">
                <form class="form" action="#" th:action="@{/login}" method="post">
                    <h1 class="header">Log in</h1>
                    <div th:if="${param.error}" class="form__error-container">
                        <p class="form__error">[[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]</p>
                    </div>
                    <div th:if="${param.logout}">
                        <p class="text-warning">You have been logged out.</p>
                    </div>
                    <label class="form__label">Username
                        <input class="form__input"
                               type="text"
                               name="username"
                               placeholder="Type your username"
                               autocomplete="false"
                               required/>
                    </label>
                    <label class="form__label">Password
                        <input class="form__input"
                               type="password"
                               name="password"
                               placeholder="Type your password"
                               autocomplete="false"
                               required/>
                        <button type="button" class="form__password-button"></button>
                    </label>
                    <button class="form__submit" type="submit">
                        Log in
                    </button>
                    <span class="divider"></span>
                    <a class="form__register" th:href="@{/register}" href="/register">Create new account</a>
                </form>
            </div>
        </section>
    </div>
</main>
<script>
    const passwordButton = document.querySelector(".form__password-button");
    const passwordInput = document.querySelector("[name=password]");

    const togglePasswordInputType = (inputType) => {
        return inputType === "password" ? "text" : "password";
    }

    const togglePasswordButtonClass = () => {
        passwordButton.classList.toggle("form__password-button_active");
    }

    const handlePasswordButtonClick = () => {
        passwordInput.setAttribute("type", togglePasswordInputType(passwordInput.getAttribute("type")));
        togglePasswordButtonClass();
    }

    passwordButton.addEventListener("click", handlePasswordButtonClick);
</script>
</body>
</html>
