.button {
    font-family: "PTRootUIWeb", var(--font-fallback);
    display: block;
    box-sizing: border-box;
    max-width: 350px;
    width: 100%;
    padding: 15px 30px;
    margin-bottom: 15px;
    margin-top: 15px;
    border-radius: 3px;
    border: 2px solid black;
    opacity: 0.6;
    background-color: white;
    color: black;
    font-weight: 700;
    font-size: 15px;
}

.button_type_small {
    width: fit-content;
    padding: 10px 15px;
}

.button:hover {
    cursor: pointer;
    opacity: 0.8;
}

.button:disabled,
.button:disabled:hover{
    cursor: not-allowed;
    opacity: 0.2;
}

.button-icon {
    width: 30px;
    height: 30px;
    border: none;
    background-size: contain;
    background-color: transparent;
    position: relative;
}

.button-icon__text {
    position: absolute;
    left: 20px;
    top: 10px;
}

.button-icon:hover {
    cursor: pointer;
}

.button-icon_type_close {
    background-image: url("./../../images/close.svg");
}

.button-icon_type_edit {
    background-image: url("./../../images/edit.svg");
}

.button-icon_type_submit {
    background-image: url("./../../images/submit.svg");
    width: 25px;
    height: 25px;
}

.button-icon_type_logout {
    background-image: url("./../../images/logout.svg");
    margin-top: 7px;
}
