.editable__input {
    font-family: "PTRootUIWeb";
    text-align: center;
    max-width: 100%;
    width: fit-content;
    border: none;
    border-bottom: 2px solid black;
    background: transparent;
    display: block;
    margin: 3px auto 0 ;
}
