.footer {
    margin: 50px auto 0;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    position: fixed;
    bottom: 0;
    background-image: url("./../../images/old-paper-background-texture-37.jpg");
    align-items: center;
    justify-content: flex-end;
    box-shadow: 0 0 5px 5px #040E20;
}
