.spendings__content {
    margin: 10px;
}

.spendings__controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.spendings__table-controls {
    display: flex;
    width: 100%;
}

.spendings__filters {
    display: flex;
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: 60%;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.spendings__controls-header {
    margin-right: 10px;
}

.spendings__buttons{
    display: flex;
    width: 100%;
}

.spendings__buttons button {
    margin-right: 20px;
}

.spendings__button-group {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.spendings__bulk-actions {
    display: flex;
    align-items: center;
}

.spendings__img {
    position: absolute;
    right: 10%;
    top: 20px;
    box-shadow: 0 0 3px 1px var(--color-main);
}
