
.table {
    display: grid;
    border-collapse: collapse;
    min-width: 100%;
    font-size: 14px;
}

thead,
tbody,
tr {
    display: contents;
}

th,
td {
    padding: 15px;
    overflow-y: visible;
    overflow-x: clip;
    text-overflow: ellipsis;
    white-space: nowrap;
}

th {
    background: #4b361f;
    text-align: center;
    font-weight: normal;
    font-size: 1.1rem;
    color: white;
}

th:last-child {
    border: 0;
}

td {
    padding-top: 10px;
    padding-bottom: 10px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

tr:nth-child(even) td {
    background: #f8f6ff;
}
